[Unit]
Description=Keeps the display running
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/npm start
WorkingDirectory=REPLACEME

[Install]
WantedBy=multi-user.target