[Unit]
Description=Self service updater
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=300
User=root
ExecStart=/usr/bin/python3 REPLACEME/Targets/assets/selfupdater/self_update.py

[Install]
WantedBy=multi-user.target